<big>
<br>
<h1>Start Page</h1>
</br>

This applet allows you to crawl a list of websites (idealy passed in a txt file).
<br />
The applet crawls the respective social network pages for the given website, and
<br /> returns the data in a json format.
<br />
<br /><br />
<font color="red"><u><b>IMPORTANT!</b></u></font>
<br/><br />
Don't forget to run <font color="blue">"bundle exec sidekiq" </font> from the terminal!
<br>
(First, cd to the app directory, and then run the code.)

<br>
<br /></big>

    
    <br /> <br>
<big><%= link_to 'Show crawled pages', companies_path %>
&emsp; &emsp;
<%= link_to 'Upload a new file', new_txt_file_path %></big>
<br />
