<br>
<h1>Start Page</h1>
</br>

This applet allows you to crawl a list of websites (idealy passed in a txt file).
The applet crawls the respective facebook page for the given website, and returns the data in a json format

<br>

<%= link_to 'Show crawled pages', companies_path %>

<%= link_to 'Upload a new file', new_txt_file_path %>