<br>
<h1>File Uploaded Successfully!</h1>
</br>
<p>Website URLs are extracted successfully and pushed into the database.</p>
<br />
<p>A Job has been scheduled in the background to update the database with live data from Facebook.</p>
<p><%= highlight('Please make sure you type: bundle exec sidekiq in the Terminal window if you have not done so for this session', 'bundle exec sidekiq') -%></p> 